
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}


header {
    background-color: #005a8d;
    color: #fff;
    padding: 1em;
    text-align: center;
    /*width: 100%;
    position: fixed;*/
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    padding: 2em;
    margin: 1em 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #005a8d;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea, form button {
    margin-bottom: 1em;
}

form button {
    background-color: #005a8d;
    color: #fff;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

form button:hover {
    background-color: #003e63;
}


footer {
    text-align: center;
    padding: 1em;
    background-color: #005a8d;
    color: #fff;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
}
